<!DOCTYPE html>
<html th:lang="|${#locale.language}-${#locale.country}|"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(content)"
      th:with="title=${title} ?: ~{::title},scriptContent=${scriptContent} ?: ~{}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:replace="${title}"></th:block>
    <!-- REPLACE WITH HEAD TAGS -->
    <!-- REPLACE WITH EXTERNAL CSS LINKS -->
    <!-- REPLACE WITH EXTERNAL JS LINKS -->
</head>
<body>
<main th:replace="${content}">
</main>

<th:block th:replace="${scriptContent}">

</th:block>
</body>
<template>
    <title>My application</title>
</template>
</html>
