<!DOCTYPE html>
<html th:lang="|${#locale.language}-${#locale.country}|"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- REPLACE WITH HEAD TAGS -->
    <!-- REPLACE WITH EXTERNAL CSS LINKS -->
</head>
<body>
<main layout:fragment="content">
</main>
<!-- REPLACE WITH EXTERNAL JS LINKS -->
<th:block layout:fragment="script-content">

</th:block>
</body>
</html>
