<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">
    <!-- Add content here -->
    <div>Welcome to your Spring Boot with Thymeleaf project!</div>
    <div>See <code>HELP.md</code> for instructions on how to get started.</div>
</div>
<th:block layout:fragment="script-content">
    <!-- Add additional scripts there that are only needed for this page (Application wide scripts should be added in layout/main.html) --->
</th:block>
</body>
</html>
